@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700&display=swap');
@import "variables";

body {
  font-family: 'Oxygen', sans-serif;
  background: $grey;
}

button:focus,
.btn-primary:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 0.75rem;
  opacity: 0.8;
}

h1 {
  font-weight: 700;
  font-size: 2.375rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
}
h6 {
  font-size: .875rem;
  text-transform: uppercase;
}

@import "style.scss";
