@import "variables";

.navbar {
  padding: 1.5rem;
  background: $grey;

  .navbar-nav {
    .nav-link {
      zoom: 1;
      font-weight: 700;
      font-size: .875rem;
      padding: 0 1.125rem;
      color: rgba(42, 43, 47, 1);

      &.active {
        color: $primary;
      }
    }
  }
}

.Main {
  position: relative;

  .hero-banner {
    width: 100%;
    min-height: 840px;
    height: 100%;
    background: url("http://pixelosaur.com/preview/altius/theme/img/main-hero-img-25.jpg") 50% 0;
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      display: block;
      background: rgba(255, 255, 255, .6);
    }
  }

}
