@import "variables";

.divider {
  width: 40px;
  height: 2px;
  background-color: rgba(229, 90, 84, 1);
  margin: 1.375rem 0;
}

.btn {
  border: none;
  border-radius: 0;
  letter-spacing: 1px;
  font-size: .9rem;
  padding: 0.65em 1.5em;

  &.btn-primary {
    background: $primary;
    text-transform: uppercase;
    color: white !important;
  }
}

.padding {
  padding: 100px 50px;
}

.link {
  color: white;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 700;
  transition: 0.2s ease-in-out;

  &:hover {
    color: $primary !important;
  }
}


.navbar {
  padding: 1.4rem 1rem;
  background: $grey;

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    height: 1.2em;
    width: 1.2em;
  }

  .navbar-nav {
    .nav-link {
      zoom: 1;
      font-weight: 700;
      font-size: .875rem;
      padding: 0 1.125rem;
      color: rgba(42, 43, 47, 1);

      &.active {
        color: $primary;
      }
    }
  }
}

.Main {
  position: relative;
  top: 60px;

  .hero-banner {
    width: 100%;
    min-height: 840px;
    height: 100%;
    background: url("http://pixelosaur.com/preview/altius/theme/img/main-hero-img-25.jpg") 50% 0;
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      top: 0;
      display: block;
      background: rgba(255, 255, 255, .6);
    }

    .banner-text {
      text-align: justify;
      position: absolute;
      z-index: 1;
      top: 30%;
    }
  }

  .top-boxes {
    .box {
      height: 320px;


      &.box-1 {
        background: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
      }

      &.box-2 {
        background: url("https://images.unsplash.com/photo-1468495244123-6c6c332eeece?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1222&q=80");
      }

      &.box-1, &.box-2 {
        color: white;
        background-size: cover;
        overflow: hidden;

        .box-text {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
          padding: 2.5rem;
          width: 100%;
          height: 65%;
          transition: 0.35s ease-in-out;

          .box-title, .small-text {
            -webkit-transform: translate3d(0, 74px, 0);
            transform: translate3d(0, 74px, 0);
          }

          .small-text {
            opacity: 0;
            transition: opacity .2s, transform .35s;
          }
        }

        &:hover {
          .box-text {
            height: 85%;
          }

          .small-text {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(42, 43, 47, .75);
          height: 100%;
          width: 100%;
        }
      }


      &.box-3 {
        background: $dark-grey;

        .box-text {
          color: white;
        }
      }
    }
  }
}
